<!-- Page Header -->
<!-- Set your background image for this header in the theme's configuration: index_cover -->
<header class="intro-header" style="background-image: url('<%- theme.index_cover %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" style="font-size:160px;">
                    <h1><%- config.title %></h1>
                    <!-- <hr class="small"> -->
                    <span class="subheading"><%- config.subtitle %></span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- GIF FOR LOLs -->
<div for="toggle" id="gifContainer" style="margin:0px;">
  <h1 for="toggle" id="toggleTitle2" class="display-1" 
  style="
    color:#ffcc00;
    font-size:160px;
    opacity:0.8;
    line-height:auto;
    z-index:10;
    padding-left:12px;
    padding-top:28px;
    margin-left:0;margin-right:0;
    position:absolute;
  ">
    <b>YES.</b><br />
    <b>We are THAT school.</b>
  </h1>
</div>
<div style="margin-left:0px;margin-right:0px;width:100%;height:0;padding-bottom:56%;position:relative;">
  <iframe src="https://giphy.com/embed/t6WtXvVgfWRNQA9ppb" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen>
  </iframe>
</div>
<p><a href="https://giphy.com/gifs/marchmadness-t6WtXvVgfWRNQA9ppb"></a></p>    


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <% page.posts.each(function(item){ %>
                <%- partial('_partial/article-index', {item: item}) %>
            <% }); %>

            <%- partial('_partial/pagination') %>
        </div>
    </div>
</div>

